.contents {
  padding-left: 50px; }

h2 {
  padding-left: 30px; }

.block {
  background-color: #4fbcd4;
  width: 50px;
  height: 50px;
  cursor: pointer; }
  .block:hover {
    background-color: #198b00;
    width: 300px; }

.transition-property-all {
  -webkit-transition: all .3s 0s ease;
  transition: all .3s 0s ease; }

.transition-property-bgcolor {
  -webkit-transition: background-color .3s 0s ease;
  transition: background-color .3s 0s ease; }

.transition-duration-300 {
  -webkit-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease; }

.transition-duration-1000 {
  -webkit-transition: all 1000ms 0s ease;
  transition: all 1000ms 0s ease; }

.transition-delay-0 {
  -webkit-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease; }

.transition-delay-1000 {
  -webkit-transition: all 300ms 300ms ease;
  transition: all 300ms 300ms ease; }
